<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Hotel sales</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <style>
        a:link, a:visited {
            background-color: white;
            color: black;
            border: 2px solid green;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }

        a:hover, a:active {
            background-color: green;
            color: white;
        }
    </style>
</head>
<body>
<div>
    <h1>Admin Home : Welcome</h1>
    <a href="/admin-profit-loss-analysis">Operations Cost and Profit Loss analysis</a>
    <a href="/hotel-sales">View all hotel sales</a>
    <a href="/delivery_person/">Delivery persons</a>
    <a href="/auth/logout"> Logout </a>

    <h1>Hotel sale dashboard</h1>
    <table border="1">
        <tr>
            <th>Hotel name</th>
            <th>Hotel location</th>
            <th>Total sale</th>
        </tr>
        <tr th:each="hotel : ${hotels}">
            <td><span th:text="${hotel.Restaurant_Name}"></span></td>
            <td><span th:text="${hotel.Restaurant_location}"></span></td>
            <td><span th:text="${hotel.sale_amount}"></span></td>
        </tr>
    </table>
</div>
</body>
</html>