<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
  <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<div>
  <h2 >Your Reservation</h2>
  <tr>
    <div align = "left" >
      <h3><a  th:href="@{'/table/new'}">Add new Reservation</a></h3>
    </div>

  </tr>
  <tr>

    <div class="col-sm-5" align = "center">
      <div class="panel-body" align = "center" >
        <table class="table">
          <thead class="thead-dark">
          <tr>
            <th>Reservation ID</th>
            <th>Name</th>
            <th>No.Of.People</th>
            <th>time</th>
            <th>Edit</th>
            <th>Cancel</th>
          </tr>
          </thead>
          <tbody>
          <tr  th:each="table : ${listtable}">
            <td th:text="${table.table_id}">Reservation ID</td>
            <td th:text="${table.owner_name}">Name</td>
            <td th:text="${table.no_of_people}">No.Of.People</td>
            <td th:text="${table.time}">time</td>
            <td>
              <a th:href="@{'/table/edit/' + ${table.table_id}}">Edit</a>
            </td>
            <td>
              <a th:href="@{'/table/delete/' + ${table.table_id}}">Delete</a>
            </td>
          </tr>

          </tbody>
        </table>

      </div>

    </div>

  </tr>

  </tbody>
  </table>
</div>
</body>
</html>
