<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
        <style>
	a:link, a:visited {
	background-color: white;
	color: black;
	border: 2px solid green;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	}

	a:hover, a:active {
	background-color: green;
	color: white;
	}
</style>
</head>
<body>
<div class="topnav">

    <a class="active" href="/userhome/home">Back to User Home</a>
    <a href="/userhome/Restaurants">Restaurants</a>
	<a href="/auth/logout"> Logout </a> <br> <br>
  <form th:action="@{/userhome/search-results}" method="get">
    <label>Search by Restaurant Name, Restaurant location, Item name and Item Price(less than mentioned price)</label>
    <br>
    <input type="search"  name="keyword" />
    <input type="submit" value="Search" />

  </form>
</div>


<h3 align="center">Menu</h3>
<table border="2" width="40%" cellpadding="2" align="center">
  <thead>
  <tr>
    <th>Item Name</th>
    <th> Item Price</th>
    <th>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="m: ${menu}" >
    <form th:action="@{/userhome/add-to-cart}" >
    <td th:text="${m.itemName}" />
    <td th:text="${m.itemPrice}" />
      <td >
        <input type="hidden" th:value= "${m.uniqueId}"  name="cartitem" /> <button type="submit" >Add to Cart</button>
      </td>
    </form>
  </tr>
  </tbody>
</table>
</body>
</html>