<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Reserve New Table</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<div align="center">
    <h1>Create New Reservation</h1>
    <br />
    <div class="col-sm-4">
        <form action="#" th:action="@{/table/save}" th:object="${table}"  method="post">


            <div alight="left">
                <tr>
                    <label class="form-label" >Name</label>
                    <td>
                        <input type="hidden" th:field="*{table_id}" />
                        <input type="text" th:field="*{owner_name}" class="form-control" placeholder="Name" />
                    </td>
                </tr>
            </div>

            <div alight="left">

                <tr>
                    <label class="form-label" >No. of. people</label>
                    <td><input type="text" th:field="*{no_of_people}" class="form-control" placeholder="Enter No.Of.People" /></td>
                </tr>
            </div>

            <div alight="left">
<!--                <tr th:each="r:${restaurants}">-->
                <label class="form-label" >Restaurants</label>



                    <select name="numbers" id="num">
                        <tr  th:each="r:${restaurants}" >
                        <option th:value="${r.restaurantName}" th:field ="*{restaurant}"><h2 th:text="${r.restaurantName }"></h2> </option>
                        </tr>
                    </select>


            </div>


<!--                <tr th:each="person : ${peopleList}">-->
<!--                    <td><span th:text="${person.getName()}"> Title </span></td>-->
<!--                    <td><a th:href="${'/delivery_person/delete/' + person.getId()}">Delete</a></td>-->
<!--                </tr>-->



            <div alight="left">
                <tr>
                    <label class="form-label" >Time</label>
                    <td><input type="text" th:field="*{time}" class="form-control" placeholder="Timeslot" /></td>
                </tr>
            </div>
            <br>
            <tr>
                <td colspan="2"><button type="submit" class="btn btn-info">Reserve</button> </td>
            </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>
