<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurants</title>
        <style>
a:link, a:visited {
	background-color: white;
	color: black;
	border: 2px solid green;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

a:hover, a:active {
	background-color: green;
	color: white;
}
</style>
</head>
<body>
<div class="topnav">

  <a  href="/userhome/home">Home</a>
  <a href="/userhome/Restaurants">Restaurants</a>
  <a href="/userhome/cart">Cart</a>
  <a href="/user/rewardpoints">Check Membership Points</a>
  <a href="/auth/logout"> Logout </a> <br> <br>
  <form th:action="@{/userhome/search-results}" method="get">
    <label>Search by Restaurant Name, Restaurant location, Item name and Item Price(less than mentioned price)</label>
    <br>
    <input type="search"  name="keyword" />
    <input type="submit" value="Search" />

  </form>
</div>
<h2>Restraurants</h2>
<div align="center">
  <table border="2" width="40%" cellpadding="2" align="center">
    <tr>
      <th> Restaurant Name</th>
      <th>Restaurant Location</th>

    </tr>
    <tbody>
    <tr th:each="r:${restaurants}">
      <form th:action="@{/userhome/Restaurants/Menu}" >
      <td th:text="${r.restaurantName}"></td>
      <td th:text="${r.restaurantLocation}"></td>
        <td >
          <input type="hidden" th:value= "${r.restaurantName}"  name="rest" /> <button type="submit" >View Menu</button>
        </td>
      </form>
    </tr>
    </tbody>
  </table>


</div>
</body>
</html>