<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Create New Product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div align="center">
    <h1>Create New Item</h1>
    <br/>
    <div class="col-sm-4">
        <form action="#" th:action="@{/review/save}" th:object="${review}" method="post">


            <div alight="left">
                <tr>
                    <label class="form-label">Name</label>
                    <td>
                        <input type="hidden" th:field="*{feed_id}"/>
                        <input type="text" th:field="*{feed_name}" class="form-control" placeholder="Your Name"/>
                    </td>
                </tr>
            </div>

            <div alight="left">

                <tr>
                    <label class="form-label">Item Review</label>
                    <td><input type="text" th:field="*{feed_review}" class="form-control" placeholder="Item Review"/>
                    </td>
                </tr>
            </div>
            <div alight="left">

                <tr>
                    <select th:field="*{feed_stars}">
                        <option th:value="1" th:text="1"></option>
                        <option th:value="2" th:text="2"></option>
                        <option th:value="3" th:text="3"></option>
                        <option th:value="4" th:text="4"></option>
                        <option th:value="5" th:text="5"></option>
                    </select>
                </tr>
            </div>
            <br>
            <tr>
                <td colspan="2">
                    <button type="submit" class="btn btn-info">Save</button>
                </td>
            </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>
